.text-center{
    text-align: center;
}
div h1{
   
    color: red;
    width: auto;
    background-color: rebeccapurple;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

h6{
    background-color: yellow;

}
.btn{
    padding: 10%;
}

.color{
    background: lightblue;
    
}
.container {
    padding: 10px;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* o comando acima quebra a linha*/
    background-color: yellow;
}

.grid div{
    height: 20px;
    width: 20px;
    
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
}

h3{
    text-align: right;
}

.hide {
    display: none;
    
}

.gameover img {
    position: absolute;
    top: 10%;
    
    height: 80%;
    width: 100%;
    
    transition: opacity 0.5s;
}

.gameover button {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    margin-left: 45%;
    overflow: visible;
    height: 50px;
}
    
