.text-center{
    text-align: center;
}

.text-center-footer{
    text-align: center;
    color: black;
    font-size: medium;
    padding-top: 30px;
}
div h1{
   
    color:black;
    width: auto;
    background-color: rgb(51, 141, 153);
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-family: 'Notable', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

h6{
    background-color: yellow;
    border-radius: 10px;

}
.btn{
    padding: 10%;
}

.color{
    background: lightblue;
    
}
.container {
    padding: 10px;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    /* o comando acima quebra a linha*/
    background-color: yellow;
    margin: 0;
    border-radius: 20px;
}

.grid div{
    height: 20px;
    width: 20px;
    
}

.tetromino {
    background-color: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    margin: 0;
    border-radius: 10px;
}

.mini-grid div {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
}

h3{
    text-align: right;
}


.hide {
    display: none;
    
}

.gameover {
    position: absolute;
    top: 10%;
    background: rgb(192, 180, 180);
    height: 80%;
    width: 100%;
    transition: opacity 0.5s;
}
.gameover h3{
    text-align: center;
    padding-top:15% ;
    color: aliceblue;
    
}

.gameover button {
    z-index: 10;
    position: absolute;
    bottom: 10%;
    margin-left: 45%;
    overflow: visible;
    height: 50px;
}
    

.cont {
    padding-left: 25%;
    padding-right: 20%;
    padding-top: 20px;
}


